.contactMe{
	top: 0px;
	width: 0%;
	right: 0px;
	height: 100vh;
    display: flex;
    flex-wrap: wrap;
	transition: 0.7s;
	position: absolute;
    justify-content: center;
	background-color: #242424;
}

.OuterWrapper{
	width: 95%;
	height: 70%;
    justify-content: flex-end;
}

.leftSide{
    gap: 30px;
    width: 65%;
    height: 80%;
    display: grid;
    margin: 0px 5vw;
    grid-template-columns: repeat(4, 1fr);
}

.rightSide{
    top: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    position: absolute;
}


.rightSide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contactBox{
    aspect-ratio: 1/1;
    position: relative;
    background-color: #F5F5F5;
}

.contactBox img{
    width: 100%;
    height: 60%;
    top: 15px;
    object-fit: contain;
    position: absolute;
}

.contactBox h3{
    left: 50%;
    bottom: 10px;
    color: #272727;
    text-align: center;
    position: absolute;
    transform: translateX(-50%);
}

.contactBox:nth-child(6) img{
    width: 100%;
    height: 100%;
    top: 0px;
    object-fit: cover;
}

.gridColSpan2{
    aspect-ratio: 1/0.46;
	grid-column: span 2;
}




















@media (max-width: 1000px){

    .leftSide{
        grid-gap: 25px;
        grid-template-columns: repeat(3, 1fr);
    }

    .contactBox:nth-child(6){
        display: none;
    }

    .gridColSpan2{
        aspect-ratio: 1/1;
        grid-column: span 1;
    }
    
}

@media (max-width: 850px){
    .rightSide{
        display: none;
    }

    .contactBox:nth-child(6){
        display: block;
    }

    .leftSide{
        width: 100%;
        margin: 0px 0vw;
        grid-template-columns: repeat(4, 1fr);
    }

    .gridColSpan2{
        aspect-ratio: 1/0.46;
        grid-column: span 2;
    }
}


@media (max-width: 650px){
    .contactBox:nth-child(6){
        display: none;
    }

    .leftSide{
        grid-template-columns: repeat(3, 1fr);
    }

    .gridColSpan2{
        aspect-ratio: 1/1;
        grid-column: span 1;
    }   
}

@media (max-width: 510px){
    .leftSide{
        grid-template-columns: repeat(1, 1fr);
    }

    .contactBox{
        height: 100%;
        aspect-ratio: auto;
    }

    .gridColSpan2{
        aspect-ratio: auto;
        grid-column: span 1;
    } 
    .contactBox img{
        width: fit-content;
        height: 60%;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }
    
    .contactBox:nth-child(5) img{
        margin-left: 10px;
    }
    
    .contactBox h3{
        left: 50%;
        top: 50%;
        height: fit-content;
        bottom: 10px;
        color: #272727;
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}