#home{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	background-color: #242424;
}












#sec1{
	width: 50%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.intro{
	width: 95%;
	/*height: 27%;*/
	display: flex;
	flex-wrap: wrap;
	margin: 15px auto;
	justify-content: center;
}

.techTiles{
	width: 95%;
	height: 55%;
	display: flex;
	flex-wrap: wrap;
	margin: 0px auto;
	overflow: scroll;
  scrollbar-width: none;
	-ms-overflow-style: none;
	justify-content: center;
}

.techTiles::-webkit-scrollbar {
  display: none;
}

.intro h1{
	color: #E3F2FF;
	line-height: 55px;
	width: fit-content;
	letter-spacing: -2px;
	font-size: clamp(3rem, 5vw, 4rem);
}

.intro h1 span{
	color: #5BB0FF;
}

.intro p{
	width: 92%;
	color: white;
	margin: 0px auto;
	font-weight: 500;
	text-align: center;
	font-size: clamp(1rem, 1.5vw, 4rem);
	/*font-size :clamp(1rem, 1.4rem + 0.2vw, 1.6rem);*/
}














#sec2{
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sec2 img{
	width: 100%;
	height: 85%;
	max-width: 316px;
}











#sec3{
	width: 5%;
	right: 0px;
	height: 100%;
	display: flex;
	z-index: 200;
	min-width: 60px;
	position: fixed;
	align-items: center;
}

#sec3 img{
	cursor: pointer;
}









@media (max-width:  880px){
	.intro{
		width: 100%;
		height: fit-content;
		padding: 5px 5px 20px 5px;
	}

	.techTiles{
		width: 100%;
	}

	.intro h1{
		width: 7ch;
		margin: 0px auto;
	}

	.intro p{
		text-align: center;
	}

	#sec1{
		width: 80%;
		margin: 0px auto;
	}

	#sec2{
		display: none;
	}
}


@media (max-width:  470px){
	#sec3{
			min-width: 50px;
	}
}


@media (max-width: 1080px){
	#sec3{
		align-items: flex-start;
	}
}