a{
	text-decoration: none;
}

.project{
	top: 0px;
	width: 0%;
	right: 0px;
	height: 100vh;
	transition: 0.7s;
	position: absolute;
	background-color: #242424;
}

.OuterWrapper{
	width: 100%;
	height: 80%;
}

.InnerWrapper{
	gap: 1.5rem;
	width: 75%;
	height: 95%;
	display: grid;
	margin: 0px auto;
	overflow: scroll;
	grid-template-columns: 0.8fr 1fr 0.7fr;
	grid-template-rows: repeat(5, 42%);
}


.anchors{
	width: 100%;
	height: 100%;
	background-color: black;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.anchors:nth-child(1){
	grid-row-start: 1;
	grid-row-end: 3;
}

.gridColSpan2{
	grid-column: span 2;
}



@media (max-width: 1000px){
	.InnerWrapper{
		width: 90%;
	}
}

@media (max-width: 800px){
	.InnerWrapper{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(6, 42%);
	}
}

@media (max-width: 550px){
	.InnerWrapper{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(11, 25%);
	}

	.anchors:nth-child(1){
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.gridColSpan2{
		grid-column: span 1;
	}
}